<html>

    <head>
        <meta charset="UTF-8" />
        <title>Used Car Price</title>
        <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
        <meta name="description" content="Used Car Price Evaluator" />

       
        <link rel="stylesheet"  href="static/css/style.css" />
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
            
        
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button> -->

                        <div class="navbar-left logo">
                            <a href="index.html">
                                <img src="static/images/logo.png" alt="" width="50" height="50">
                            </a>
                        </div>
                        <h1 class="brand brand-name navbar-left">
                            <div class"navbar-left">Used Car Price</div>
                        </h1>
                    </div>
                    <!-- <div class="collapse navbar-collapse navbar-right " id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">About</a></li>
                        </ul>
                    </div> -->
                </div>
            </nav>
            
            <div class="container">
                <form id="cardetails" method="post">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 20px;">
                                    <div class="card-body p-0">
                                        <label for="selectbrand" class="control-label">Brand</label>
                                        <select id="selectbrand" name="selectbrand" title="Select Brand" class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >
                                                        
                                        </select>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 20px;">
                                    <div class="card-body p-0">
                                        <label for="selectyear" class="control-label "  >Year Manufactured</label>
                                        <select id="selectyear" name="selectyear" title="Select Year" class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >
                                                        
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 20px;">
                                    <div class="card-body p-0">
                                        <label for="selectownership" class="control-label ">Ownership</label>
                                        <select id="selectownership" name="selectownership" title="Select Year"  class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >
                                                <option value="0">First</option>       
                                                <option value="1">Second</option>       
                                                <option value="2">Third</option>       
                                                <option value="3">Fourth and Above</option>       
                                        </select>
                                    </div>
                                </div>
                            </div>        
                            <div class="col-lg-6">
                                <div class="form-group" style="margin-top: 20px;">
                                    <label for="km_driven">Kilometers Driven</label>
                                    <input type="text" class="form-control" name="km_driven" 
                                    onkeypress="numbonly(event)" onpaste="numbonly(event)"  id="km_driven" placeholder="Enter Kilometers Driven">
                                </div>
                                
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 10px;">
                                    <div class="card-body p-0">
                                        <label for="selecttransmission" class="control-label ">Transmission</label>
                                        <select id="selecttransmission" name="selecttransmission" title="Select Transmisssion"  class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >      
                                            <option value="Automatic">Automatic</option>       
                                            <option value="Manual">Manual</option>    
                                        </select>
                                    </div>
                                </div>
                            </div>        
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 10px;">
                                    <div class="card-body p-0">
                                        <label for="selectfueltype" class="control-label ">Fuel Type</label>
                                        <select id="selectfueltype" name="selectfueltype" title="Select Fuel Type"  class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >             
                                            <option value="Petrol">Petrol</option>       
                                            <option value="Diesel">Diesel</option>
                                            <option value="CNG">CNG</option>       
                                            <option value="LPG">LPG</option>      
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 20px;">
                                    <div class="card-body p-0">
                                        <label for="selectseats" class="control-label ">No. of Seats</label>
                                        <select id="selectseats" name="selectseats" title="Select Seats"  class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >      
                                                       
                                        </select>
                                    </div>
                                </div>
                            </div>        
                            <div class="col-lg-6">
                                <div class="card border-0" style="margin-top: 20px;">
                                    <div class="card-body p-0">
                                        <label for="selectlocation" class="control-label ">Location</label>
                                        <select id="selectlocation" name="selectlocation" title="Select Location"  class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded " data-live-search="true" data-size="6" >             
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                
                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary evaluatebtn" name="evaluate" style="margin-top:2%;">Evaluate Price</button>
                            <button type="button" class="btn btn-success" style="color: black;margin-left:5px ;margin-top:2%;" onclick="window.location=''">Github Repo</button>
                        </div>
                    </div>
                </form>
                <div class="row ">
                    
                        <div class="col-lg-12">     
                            <span class="label label-primary">Model is trained as per 1998-2019 available records and only comprises limited features.</span>
                        </div>
                        <div class="col-lg-12">
                            <div class="counter-box">
                                <i class="fa fa-inr"></i>
                                <label class="pricelabel">INR</label><p class="counter" id="finalprice">0.00</p><label class="pricelabel" >Lakh</label>  
                            </div>
                        </div>
                </div>
            </div>


    </body>

</html>
<script>

$(document).ready(function () {
	
    var yearhtml="";
    for(var i=2019;i>=1998;i--){
        yearhtml+="<option value='"+i+"''>"+i+"</option>";
    }
    $("#selectyear").html(yearhtml);
    
    var seathtml="";
    for(var i=1;i<=10;i++){
        seathtml+="<option value='"+i+"'>"+i+"</option>"
    }
    $("#selectseats").html(seathtml);

    $('.selectpicker').selectpicker();

    populateSelectPicker('/get_brands','selectbrand');
    populateSelectPicker('/get_locations','selectlocation');
    

    $('#cardetails').submit(function(e){
        e.preventDefault();
        
        var form = $(this);
        
        $.ajax({
            type: "POST",
            url: '/get_price',
            data: form.serialize(),
            dataType: "json",
            rules:{
                selectbrand:{
                    required:true
                },
                selectyear :{
                    required:true
                },
                selectownership :{
                    required : true
                },
                km_driven:{
                    required:true,
                    digits:true
                },
                selecttransmission :{
                    required:true
                },
                selectfueltype :{
                    required : true
                },
                selectseats :{
                    required:true
                },
                selectlocation :{
                    required : true
                }

            },
            messages :{
                selectbrand:{
                    required:"Select brand"
                },
                selectyear :{
                    required:"Select Manufactured Year."
                },
                selectownership :{
                    required : "Select Ownership."
                },
                km_driven:{
                    required:"Enter Kilometers Driven.",
                    digits:"Input a number only."
                },
                selecttransmission :{
                    required:"Select Transmission."
                },
                selectfueltype :{
                    required : "Select Fuel Type."
                },
                selectseats :{
                    required:"Select No. of Seats."
                },
                selectlocation :{
                    required : "Select Location."
                }
            },
            success:function(data){
                
                
                // Add options from JSON data
                data.forEach(function(price) {
                    
                    displayprice(price.finalprice);

                });
            }
        });
    });

});

function populateSelectPicker(endpoint, selectId) {
        var html="";
            $.get(endpoint, function(data) {
                $('#' + selectId).empty(); // Clear existing options

                
                // Add options from JSON data
                data.forEach(function(option) {
                    
                    html+="<option value='"+option.list+"'>"+option.list+"</option>"; 
                });
                
                $('#' + selectId).html(html);
                $(".selectpicker").selectpicker('refresh');
            });

           
}    


function displayprice(pricevalue){
    var maxValue = pricevalue
               
                if (isNaN(maxValue) || maxValue < 0) {
                    alert("Please enter a valid non-negative number.");
                } else {
                    var counter = 0; // Initialize the counter
                    var bigstep = 1; // Step size for decimal places
                    var smallstep =0.01; // Step size for decimal places

                    // Function to update and display the counter
                    function updateCounter() {
                        if (counter <= parseInt(maxValue)) {
                            // Display the counter with up to three decimal places
                            $("#finalprice").text(counter.toFixed(2));
                            counter += bigstep;

                            // Continue the counter after a short delay (adjust the delay as needed)
                            setTimeout(updateCounter, 10); // 1000 milliseconds (1 second) delay
                        }    
                        else if(smallstep<=(maxValue-parseInt(maxValue)) && counter==parseInt(maxValue)){
                            $("#finalprice").text(counter.toFixed(2));
                            smallstep+=0.01;
                            counter += smallstep;

                            // Continue the counter after a short delay (adjust the delay as needed)
                            setTimeout(updateCounter, 100); // 1000 milliseconds (1 second) delay
                        } else {
                            // Counter has reached the maximum value
                            $("#finalprice").text(maxValue.toFixed(2));
                        }
                      
                    }
                    
                    
                    // Start the counter
                    updateCounter();
                }
    }
    function numbonly(event) {
    // Get the ASCII value of the pressed key
        var key = event.which || event.keyCode;

        // Allow only numeric keys (0-9) and some special keys like Backspace, Enter, etc.
        if ((key < 48 || key > 57) && key !== 8 && key !== 13 && key !== 37 && key !== 39) {
            event.preventDefault();
    }
    }
</script>